@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');
/* font-family: 'Sulphur Point', sans-serif; */
/* font-family: 'Comic Neue', cursive; */
/* font-family: 'Archivo Black', sans-serif; */
/* font-family: 'Kalam', cursive; */

/* Variáveis de cores */
:root {
    --bege-fundo: #F1E7DD;
    /* 241 231  221*/
    --amarelo-escuro: rgb(253, 181, 13);
    /* 252 182 13 */
    --preto: rgb(4, 2, 1);
    --marrom: rgb(133, 39, 3);
    --verde-escuro: #556417;
    /* 85 100 23 */
    --verde-medio: #3C4C02;
    /* 60 76 2 */
    --vermelho: #c70202;
    --marrom-vinho: #b61212;
}

* {
	margin: 0;
	padding: 0;
}

body {
    font-size: 16px;
	font-family: 'Sulphur Point', sans-serif;
	background-color: var(--verde-escuro);
    text-align: center;
}

/* CABEÇALHO */
.container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--verde-escuro);
    font-family: 'Sulphur Point', sans-serif;
    padding: 1% 5%;
}

.container__header__logo {
    width: 20%;
    height: auto;
    margin-bottom: 1%;
}

.logo_img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Garante que a imagem mantenha suas proporções */
    display: block; /* Remove espaçamento extra abaixo da imagem */
}

.container__header__logo img:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    transition: 1s ease;
}

.container__header__nome {
    font-size: 32px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.menu__item {
    background-color: var(--verde-escuro); 
    display: inline-block;
    margin: 0 5px;
    border-radius: 12px;
    font-size: 1.5em;
    word-spacing: -3px;
    font-weight: 300;
    text-transform: lowercase;
}

.menu__item a {
    text-decoration: none;
    color: var(--bege-fundo);
    padding: 8px 16px; 
    display: block;
    box-sizing: border-box;
}

.menu__item a:hover {
    background-color: rgba(241, 231,  221, 0.2);
    color: var(--amarelo-escuro);
    font-weight: 700;
    border: 1px solid var(--bege-fundo);
    border-radius: 24px;
}

/* RODAPÉ */
.contato {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 19.5%;
    background-color: var(--verde-escuro);
    height: 90px;
    border: 1px solid var(--verde-escuro);
    margin-top: 25px;
}

.container_contato {
    display: flex;
    gap: 10px;
    margin-left: 1%;
}

.contato_img {
    width: 46px;
    height: 46px;
}

.contato__redes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: block;
}

.contato__redes p{
    display: block;
}

.contato__redes__p1 {
    font-family: 'Agbalumo';
    word-spacing: 2px;
    font-size: 18px;
    color: var(--amarelo-escuro);
    margin-bottom: 8px;
}

.contato__redes__p2 {
    color: var(--bege-fundo);
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16.5px;
    font-weight: 700;
    text-shadow: -0.5px 0 black, 0 0.5px black,
    0.5px 0 black, 0 -0.5px black;
}

#contato_coracao {
    color: rgb(199, 2, 2);
}

.container_contato a:hover {
    filter: invert(1);
}

/* RESPONSIVIDADE */
@media screen and (max-width: 768px) {
    /* CABEÇALHO */
    .container__header {
        flex-direction: column;
        width: auto;
        height: auto; 
        padding: 0;
        align-items: center;
    }

    .container__header__logo {
        width: 80%;
        margin-bottom: 2%;
    }

    .logo_img {
        padding-left: 0;
        width: 100%;
    }

    .menu {
        padding: 2% 0;
        width: 100%;
        justify-content: space-around; /* Ajuste para manter os itens na mesma linha */
        flex-direction: row; /* Mantenha a direção da linha */
        align-items: center;
    }

    .menu__item {
        margin: 5px;
        font-size: 1.2em;
        word-spacing: -3px;
    }
    
    .menu__item a {
        padding: 0; /* Ajuste do espaçamento interno */
        border-radius: 12px;
        font-size: 1.2em;
    }

    /*RODAPÉ*/
    .contato {
        flex-direction: column;
        align-items: center;
    }

}
